/* Loading spinner */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes disappear {
    0% { 
      opacity: 1;
      }
    50% { 
      opacity: 1;
      }
    90% { 
      z-index: 5;
      }
    100% { 
      visibility: hidden;
      z-index: -1;
      }
  }
/* Loading spinner - points  */

  @keyframes bouncing {
    0% {
      transform: none;
    }
    
    33% {
      transform: translateY(-.5em);
    }
    
    66% {
      transform: none;
    }
  }

/* animation card - Créer une animation */

 @keyframes decalestart {

  0% {
    transform: translateY(20px);
    opacity: 0;
  }
 
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
 }


/* Utiliser une animation */
