/* Mes variables */

$primaryColor: #9356DC;
$secondaryColor: #FF79DA;
$tertiaireColor: #99E2D0;


$xsBreakpoint : 576px ;
$smBreakpoint : 768px ;
$mdBreakpoint : 1024px ;
$lgBreakpoint : 1290px ;
$xlBreakpoint : 1440px ;