
main {
    @include md-breakpoint {
    h2 {text-align: center;
    font-size: 25px}
    }
}
.intro {
    &__search {
        @include ColumnFlexDirection;
        align-items: center;
        justify-content: center;
        background-color: rgba(216, 215, 215, 0.877);
        max-width: 100%;
        height: 300px;
        }
    .icon {
        margin-right: 10px;
    }
  
    &__loc {
        width: 80%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
    }
   
    &__description {
        background-color: white;
        @include ColumnFlexDirection;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }
    &__title {
        width: 70%;
        margin-top: 30px;
        text-align: center;
        
    }
    &__text {
        width: 85%;
        margin-top: 15px;
        text-align: center;
    }
  }
  
  .how-it-works {
    width: 100%;
    margin-top: 50px;
    @include ColumnFlexDirection;
    align-items: center;
    @include md-breakpoint {
        max-width: 100%;
        margin: auto;
        margin-top: 50px;
       }
    
    &__title { width: 95%;}
    .list {
        width:90%;
        padding: 0;
        margin: auto;
        @include md-breakpoint {
            max-width: 50%;
            margin: auto;
            margin-top: 50px;
           }
        &__item {
            display: flex;
            align-items: center;
            width: 90%;
            height: 50px;
            font-weight: 600;
            font-size: 14px;
            border-radius: 20px;
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.068);
            margin-top: 15px;
            cursor: pointer;
            i { 
                margin-right: 20px;
                color: grey;
            }
            &:hover {
                background-color: #f5edff;
                i { color: $primaryColor;}
            }
        }
        &__item-number {
            background:$primaryColor;
            color: white;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            margin-right: 10px;
        }
    }
  }
  
  .restaurants {
    @include ColumnFlexDirection;
    align-items: center;
    width: 100%;
    margin: 0;
    padding-top: 50px;
    @include md-breakpoint {


       }
  
    &__title {
        margin-top: 10px;
        width: 95%;
    }
    &__cards{
        width: 95%;
        margin-top: 20px;
    @include md-breakpoint {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 50%;
    }
        
    a {
        text-decoration: none;
    }
    .card {
        position: relative;
        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        margin:0px 0px 15px 0px;
        @include md-breakpoint {
            width: 47%;
        }
        &__new {
            background:$tertiaireColor;
            position:absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            color: rgb(8, 136, 93);
        }
        &__img { 
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
            }
        &__text {
            width: 80%;
            p, h3 {margin: 5px 0px 0px 0px;
            color: black;}
        }
        &__description {
            display: flex;
            margin-left: 10px;
            padding-bottom: 10px;
        }
        &__hearth {
            margin: 10px 20px 0px 0px;
            font-size: 20px;
            position: relative;
            color: black;
            i { 
                position: absolute;
            }
            .full {
                opacity: 0;
            }
            .full:hover {
                opacity: 1;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: linear-gradient($primaryColor, $secondaryColor);
                transition-duration: 1s;
            }
        }
    }}}