@import "../dart-sass/sass/Utils/variables";
@import "../dart-sass/sass/Layouts/footer";
@import "../dart-sass/sass/base/typography";
@import "../dart-sass/sass/components/buttons";
@import "../dart-sass/sass/utils/mixins";
@import "../dart-sass/sass/Utils/keyframes";


.wallpaper {

    width: 100%;
    height: auto;
    object-fit: cover;

}

.header {

    width: 100%;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        &__link {
            border: 1px solid red;
            cursor: pointer;

        }
        .fa-sharp {
            border: 1px solid blue;
            font-size: 20px;
        }
        
    }
    &__logo {
        width: 200px;
        border: 2px solid red;
        padding: 20px;
    }
}

.menu-restaurant-title {
    font-family: "Shrikhand", cursive;
    font-size: 25px;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    width: 100%;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    
}

.menu-details {
    margin-top: 15px;

    .menu-title {

        border-bottom: 3px solid $tertiaireColor;
    }
    .menu-card {
        display: flex;

        &__description {
            display: flex;
            flex-direction: column;
            ;
            p { margin-top: 5px;
                text-overflow: ellipsis}
        }
        .tarif {
            display: flex;
            align-items: center;
            font-weight: 600;
            
        }
        .menu-card-original {
            width: 100%;
            background: white;
            padding: 15px;
            margin-top: 15px;
            border-radius: 20px;
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.068);
            display: flex;
            justify-content: space-between;
        }
        .menu-card-animation {
            border: 1px SOLID red;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $tertiaireColor;
            cursor: pointer;
            height: auto;
            width: 0;
            opacity: 1;
            border-radius: 0 20px 20px 0;
            padding: 15px;
            margin-top: 15px;
            transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
            .check {
                margin-right: 0px;
                border: 2px solid green;
            }
            &:hover {
                width: 70%;
            }
            .icone {
                color: white;
                transition: 0.4s ease-in-out
            }
        }
    }
}

.ctrl-btn { 
    display: flex;
    justify-content: center;
}

#entree {
    animation: decalestart 2s;
    animation-delay: 0s;
}

#plat {
    animation: decalestart 2s;
    animation-delay: 0.2s;
}

#dessert {
    animation: decalestart 2s;
    animation-delay: 0.5s;
}