/* Mes variables */
.intro {
  margin-bottom: 120px;
}
.intro__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(216, 215, 215, 0.877);
  height: 200px;
}
.intro .icon {
  margin-right: 10px;
}
.intro__loc {
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
}
.intro__description {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.intro__description .button {
  margin-top: 20px;
  border-radius: 20px;
  background: linear-gradient(#9356DC, #FF79DA);
  border: 2px solid white;
  width: 180px;
  height: 40px;
  color: white;
}
.intro__title {
  width: 70%;
}
.intro__text {
  width: 80%;
}

.how-it-works {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-it-works__title {
  width: 95%;
}
.how-it-works .list {
  width: 95%;
  padding: 0;
}
.how-it-works .list__item {
  display: flex;
  align-items: center;
  width: 90%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.068);
  margin-top: 15px;
}
.how-it-works .list__item i {
  margin-right: 20px;
  color: grey;
}
.how-it-works .list__item-number {
  background: #9356DC;
  color: white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-right: 10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding-top: 50px;
}
.restaurants__title {
  margin-top: 10px;
  width: 95%;
}
.restaurants__cards {
  width: 95%;
}
.restaurants__cards .card {
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 0px 0px 15px 0px;
}
.restaurants__cards .card__img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__cards .card__text {
  width: 80%;
}
.restaurants__cards .card__text p, .restaurants__cards .card__text h3 {
  margin: 5px 0px 0px 0px;
}
.restaurants__cards .card__text a {
  text-decoration: none;
}
.restaurants__cards .card__description {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-bottom: 10px;
}
.restaurants__cards .card__hearth {
  margin: 10px 20px 0px 0px;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer {
  background-color: black;
  margin-top: 30px;
  padding: 0px 10px;
  width: 100%;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  color: white;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  padding-top: 15px;
}
.footer__item {
  color: white;
  margin: 0px 0px 5px 0px;
  font-size: 12px;
  text-decoration: none;
}
.footer__rubrique {
  padding-bottom: 20px;
}
.footer__rubrique i {
  margin-right: 10px;
  width: 10px;
}/*# sourceMappingURL=style_index.css.map */