@charset "UTF-8";
/* Mes variables */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 250px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: black;
  padding: 0px 10px;
  width: 100%;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  color: white;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  padding-top: 15px;
}
.footer__item {
  color: white;
  margin: 0px 0px 5px 0px;
  font-size: 12px;
  text-decoration: none;
}
.footer__rubrique {
  padding-bottom: 20px;
}
.footer__rubrique i {
  margin-right: 10px;
  width: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

#btn {
  margin-top: 20px;
  border-radius: 20px;
  border-radius: 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  border: 2px solid white;
  width: 200px;
  height: 60px;
  color: white;
  cursor: pointer;
}

#btn:hover {
  opacity: 0.7;
}

.ctrl-btn {
  display: flex;
  justify-content: center;
}

/* Loading spinner */
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    z-index: 5;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    z-index: 5;
  }
  100% {
    visibility: hidden;
    z-index: -1;
  }
}
/* Loading spinner - points  */
@-webkit-keyframes bouncing {
  0% {
    transform: none;
  }
  33% {
    transform: translateY(-0.5em);
  }
  66% {
    transform: none;
  }
}
@keyframes bouncing {
  0% {
    transform: none;
  }
  33% {
    transform: translateY(-0.5em);
  }
  66% {
    transform: none;
  }
}
/* animation card - Créer une animation */
@-webkit-keyframes decalestart {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes decalestart {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* Utiliser une animation */
.wallpaper {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 150px;
}

.header__title__link {
  cursor: pointer;
  color: black;
}
.header__title .fa-sharp {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 25px;
}

.menu-restaurant {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.menu-restaurant .menu-restaurant-title {
  width: 70%;
  white-space: nowrap;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}
.menu-restaurant .menu-restaurant-title__hearth {
  margin: 10px 20px 0px 0px;
  font-size: 20px;
  position: relative;
}
.menu-restaurant .menu-restaurant-title__hearth i {
  position: absolute;
}
.menu-restaurant .menu-restaurant-title__hearth .full {
  opacity: 0;
}
.menu-restaurant .menu-restaurant-title__hearth .full:hover {
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition-duration: 1s;
}

#menu {
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: whitesmoke;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30px 30px 30px 30px;
}
@media only screen and (min-width: 1024px) {
  #menu {
    width: 60%;
    margin: auto;
  }
}

.menu-details {
  margin-top: 15px;
}
.menu-details .menu-title {
  border-bottom: 3px solid #99E2D0;
}
.menu-details .menu-card {
  margin-top: 15px;
  width: 100%;
}
.menu-details .menu-card__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-details .menu-card .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}
.menu-details .menu-card .flex p {
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-details .menu-card .tarif {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 70px;
  transition: all 0.3s ease-in-out; /* added */
}
.menu-details .menu-card .menu-card-original {
  max-width: 100%;
  height: 50px;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.068);
  display: flex;
  justify-content: space-between;
}
.menu-details .menu-card .menu-card-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0px 12px 12px 0px;
  transition: all 0.3s ease-in-out; /* added */
}
.menu-details .menu-card .icone {
  color: white;
}
.menu-details .menu-card:hover .menu-card-animation {
  opacity: 1;
  width: 70px;
}
.menu-details .menu-card:hover i {
  display: inline-block;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.ctrl-btn {
  display: flex;
  justify-content: center;
}

#entree {
  -webkit-animation: decalestart 2s;
          animation: decalestart 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

#plat {
  -webkit-animation: decalestart 2s;
          animation: decalestart 2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#dessert {
  -webkit-animation: decalestart 2s;
          animation: decalestart 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}/*# sourceMappingURL=style_menu.css.map */