
@import "../dart-sass/sass/Utils/keyframes";
@import "../dart-sass/sass/Utils/variables";
@import "../dart-sass/sass/Utils/functions";
@import "../dart-sass/sass/utils/mixins";
@import "../dart-sass/sass/base/base";
@import "../dart-sass/sass/base/typography";
@import "../dart-sass/sass/components/buttons";
@import "../dart-sass/sass/layouts/header";
@import "../dart-sass/sass/layouts/container";
@import "../dart-sass/sass/Layouts/footer";


#container_spin {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #fff;
  z-index: 5;
  position: absolute;
  animation: disappear 3s linear forwards;
  opacity: 80%;


  /* rappeler l'animation de disparition */
} 
.loading-spinner {
  width: 80px;
  height: 80px;
  border: 10px solid #9356DC;
  border-radius: 50%;
  margin: auto;
  border-top: 10px solid #FF79DA;
  border-right: 10px solid #99E2D0;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
  position: relative;
  margin-top: 250px;

}
.points {
  background: linear-gradient($primaryColor, $secondaryColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
