
@import "../dart-sass/sass/Utils/variables";
@import "../dart-sass/sass/Layouts/header";
@import "../dart-sass/sass/Layouts/footer";
@import "../dart-sass/sass/base/typography";
@import "../dart-sass/sass/components/buttons";
@import "../dart-sass/sass/utils/mixins";
@import "../dart-sass/sass/Utils/keyframes";



.wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 150px;
}

.header__title {
    
    &__link {
        cursor: pointer;
        color: black;
    }
    .fa-sharp {
        font-size:20px;
        position: absolute;
        left: 10px;
        top: 25px;
    }

}

.menu-restaurant {
    width: 95%;
    display: flex;
    justify-content: space-between;
    
    .menu-restaurant-title {
        width: 70%;
        white-space: nowrap;
        font-family: "Shrikhand", cursive;
        font-size: 25px;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        &__hearth {
            margin: 10px 20px 0px 0px;
            font-size: 20px;
            position: relative;
            i { 
                position: absolute;
            }
            .full {
                opacity: 0;
            }
            .full:hover {
                opacity: 1;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: linear-gradient($primaryColor, $secondaryColor);
                transition-duration: 1s;
            }
        }
    }
}

#menu {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    @include md-breakpoint {
        width: 60%;
        margin: auto;
        }
}

.menu-details {
    margin-top: 15px;
    .menu-title {
        border-bottom: 3px solid $tertiaireColor;
    }
    .menu-card {
        margin-top: 15px;
        width: 100%;

        &__description {
            display: flex;
            justify-content: space-between;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .flex {
            @include ColumnFlexDirection;
            justify-content: center;
            padding-left: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 80%;
            p {
            margin-top: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            }
        }
        .tarif {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            width: 70px;
            transition: all 0.3s ease-in-out; /* added */
        }
        .menu-card-original {
            max-width: 100%;
            height: 50px;
            background: white;
            border-radius: 12px;
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.068);
            display: flex;
            justify-content: space-between;
        }
        .menu-card-animation {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $tertiaireColor;
            cursor: pointer;
            height: auto;
            width: 0;
            opacity: 0;
            border-radius:0px 12px 12px 0px;
            transition: all 0.3s ease-in-out; /* added */
            }
            .icone {
            color: white;
        }
        &:hover {
            .menu-card-animation{
            opacity: 1;
            width: 70px;}
            i {
            display: inline-block;
            transform: rotate(360deg);
            transition-duration: .5s;
            }
        }
    }   }


.ctrl-btn { 
    display: flex;
    justify-content: center;
}

#entree {
    animation: decalestart 2s;
    animation-delay: 0s;
}

#plat {
    animation: decalestart 2s;
    animation-delay: 0.2s;
}

#dessert {
    animation: decalestart 2s;
    animation-delay: 0.5s;
}

